/* base */
* {
    padding: 0;
    margin: 0;
}

body {
    background: 
        url(../images/background.svg),
        #6897d5;

    background-attachment: fixed;
    background-size: cover;
}
/* END base */

/* header */
header {
    height: 66px;
}
/* nav */
#nav-base {
    background-color: #fff;
    box-shadow: 0 0 2px 0 #646464;
}

@media (min-width: 768px) {
    .navbar-right {
        margin-left: auto;
    }
}

.nav-login {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background-color: #D65455;
    color: #fff;
    border-radius: 5px;
    min-width: 70px;
    line-height: 2.5;
    transition: all 0.3s ease-in-out;
}
/* END nav */
/* END header */