/* base */
* {
    padding: 0;
    margin: 0;
}

body {
    background: 
        url(../images/background.svg),
        #6897d5;

    background-attachment: fixed;
    background-size: cover;
}
/* END base */

/* header */
header {
    height: 66px;
}
/* nav */
#nav-base {
    background-color: #fff;
    box-shadow: 0 0 2px 0 #646464;
}

@media (min-width: 768px) {
    .navbar-right {
        margin-left: auto;
    }
}

.nav-login {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background-color: #e1b136;
    color: #fff;
    border-radius: 5px;
    min-width: 70px;
    line-height: 2.5;
    transition: all 0.3s ease-in-out;
}

.nav-login:active, 
.nav-login:first-child:active,
.nav-login:first-child:hover {
    background-color: #cc9c23;
}
/* END nav */
/* END header */

/* footer */
footer {
    background-color: #e6e6e6;
    position: relative;
    color: #3b3b3b;
}

footer p {
    margin: 0;
}

@media (max-width: 992px) {
    footer {
        text-align: center;
    }

    footer h5 {
        margin-top: 1em;
    }
}

.footer {
    padding: 60px 0 60px 0;
}


.footer-box {
    padding: 0
}

.footer-logo {
    max-width: 230px;
    width: 100%;
}

@media (max-width: 992px) {
    .footer-logo {
        margin: auto;
    }
}

footer ul {
    list-style: none;
    padding: 0;
}

footer a {
    font-size: 20px;
    color: #3b3b3b;
    transition: all ease-in-out 0.05s;
    text-decoration: none;
    font-size: 1em;
}

footer a:hover {
    color: #ed3237;
    text-decoration: underline;
}

footer h5 {
    color: #ae282c;
    font-size: 1.2em;
}

footer h6 {
    color: #3b3b3b;
}

footer p {
    color: #3b3b3b;
    font-size: 1em;
}
/* END footer */