/* base */
h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
    color: #565656;
}

a {
    color: #505050;
}
/* END base */

/* content */
#content {
    background-color: #f1f4f9;
    padding: 7rem 0 7rem 0;

}

@media (max-width: 768px) {
    #content {
        background-color: #f1f4f9;
        padding: 3rem 0 3rem 0;
    }

    /* Keeps the div the same width as the login form on small devices */
    .anchored-to-the-form {
        width: 400px;
    }
}

/* login form */
.login-form-box {
    width: 400px;
    background-color: #fff;
    padding: 1.5rem 2rem 2rem 2rem;
    border-radius: 10px;
    box-shadow: 0px 8px 16px #0000001a;
}

.form-control {
    line-height: 2.2;
}

#btn-submit {
    background-color: #e1b136;
    color: #fff;
    border-radius: 20px;
}

#btn-submit:active, 
#btn-submit:first-child:active,
#btn-submit:first-child:hover {
    background-color: #cc9c23;
}
/* END login form */
/* END content */