<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/bd8523a019.js" crossorigin="anonymous"></script>

    {% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% endblock %}

    <title>Document</title>
</head>
<body>
    <header>
        <nav id="nav-base" class="navbar navbar-expand-lg fixed-top">
            <div class="container">
                <a class="navbar-brand pe-2" href="/">
                    <img src="{{ url_for('static', filename='images/usp-logo.svg') }}" alt="Logo Júpiterweb" height="40">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav-base-collapse" aria-controls="nav-base-collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="nav-base-collapse">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="/" class="nav-link">Início</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Disciplina
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Busca por disciplinas</a></li>
                                <li><a class="dropdown-item" href="#">Busca por turmas</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Editais
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Programa Unificado de Bolsas (PUB)</a></li>
                                <li><a class="dropdown-item" href="#">PEEG</a></li>
                                <li><a class="dropdown-item" href="#">PAP</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Matrícula Interativa
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">FAQ</a></li>
                                <li><a class="dropdown-item" href="#">Informações gerais</a></li>
                                <li><a class="dropdown-item" href="#">Tutorial - Nova Matrícula</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Mais
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Calendário escolar</a></li>
                                <li><a class="dropdown-item" href="#">Cursos de ingresso</a></li>
                                <li><a class="dropdown-item" href="#">Jupiterweb em vídeos</a></li>
                                <li><a class="dropdown-item" href="#">Informações gerais sobre a graduação</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    {% block content %}
    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>
</html>