{% extends "base.html" %}

{% block style %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block content %}
<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-7 d-flex align-items-center justify-content-center">
                <div class="p-4">
                    <div class="mb-4">
                        <img src="{{ url_for('static', filename='images/jupiterweb-logo2.svg') }}" alt="Jupiterweb" height="50">
                    </div>
                    <h2>Sistema de Gestão Acadêmica da Pró-Reitoria de Graduação</h2>
                </div>
            </div>
            <div class="col-md-5 d-flex align-items-center justify-content-center">
                <div class="login-form-box">
                    <form action="/login" method="post">
                        <h1 class="text-center mb-3">Entrar</h1>
                        <div class="mb-3">
                            <div class="input-group">
                                <input id="email" type="email" class="form-control" name="email" placeholder="E-mail ou Número USP" aria-label="email">
                            </div>
                        </div>
                        <div class="mb-4">
                            <div class="input-group">
                                <input id="password" type="password" class="form-control" name="password" placeholder="Senha" aria-label="senha">
                            </div>
                        </div>
                        <div class="d-grid gap-2">
                            <button id="btn-submit" type="submit" class="btn">Entrar</button>
                        </div>
                        <div class="mt-2">
                            <a href="/login">Esqueci a senha</a>
                        </div>
                        <div class="mt-2">
                            <span class="text-secondary">Ainda não possui uma conta?</span>
                            <a href="/login">Registre-se</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}